<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sound Wave</title>

    <script src="https://kit.fontawesome.com/4237d50c76.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {{#if css}}
    <link rel="stylesheet" href="{{css}}">
    {{else}}
    <link rel="stylesheet" href="./css/index.css">
    {{/if}}
    <script src="http://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePK = "{{stripePublicKey}}"
        var songName = "{{#each playlistSongArr}}{{this.song_name}}/{{/each}}"
        var songUrl = "{{#each playlistSongArr}}{{this.song_url}}[split]{{/each}}"
        var artistName = "{{#each playlistSongArr}}{{this.artist_name}}/{{/each}}"
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
<h1>dashboard layout</h1>
{{!-- //navbar --}}
<a href="/home"><button id="home" class="button-home" value="home">home</button></a>
<a href="/setting"><button id="setting" class="button-setting" value="setting">setting</button></a>
<a href="/store"><button id="store" class="button-store" value="store">store</button></a>
<a href="/cart"><button id="cart" class="button-cart" value="cart">cart</button></a>
<a href="/auth/logout"><button id="logout" class="button-logout" value="logout">logout</button></a>

<div>
<input type="text" placeholder="Search songs" id="filter_songs"/>
</div>

<div>
    <p>select playlist sql</p>
    {{#each playlist}}
<a href="/playlist/{{this.id}}"><button type="button" class="select-playlist" data-playlist_id="{{this.id}}">{{this.playlist_name}}</button></a>
    </br>
    {{/each}}
    <button class="open-button" onclick="openForm()">add playlist</button>

<div class="form-popup" id="myForm">
  <form action="/playlist" method="post" class="form-container">
    <h1>add playlist</h1>

    <label for="playlistName"><b>playlist name</b></label>
    <input type="text" placeholder="myPlaylist" name="playlistName" required>

    {{!-- <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> --}}

    <button type="submit" class="btn">add playlist</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

    {{!-- <button class="add-playlist" method="POST"  data-user_id="1">add playlist</button> --}}
</div>
    {{{body}}}

{{!-- //footer --}}
<div class="music-player"><p>music player</p></div>
<div>
    <div id="current_song"></div>
    <div id="current_artist"></div>
</div>

<audio id="myTrack" ontimeupdate="updateTrackTime(this)" onended="audio_end()" src="" type="audio/mp3"/>
</audio>

<div class="middle">
    <button onclick="random_song()" id="random"><i class="fa fa-random" aria-hidden="true"></i></button>
    <button onclick="previous_song()" id="previous"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
    <button onclick="justplay()" id="play">
        <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x text-warning"></i>
            <i class="fa fa-play fa-stack-1x" aria-hidden="true"></i>
        </span>
    </button>
  	<button onclick="next_song()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
    <button onclick="repeat_song()" id="repeat"><i class="fas fa-repeat-alt" aria-hidden="true"></i></button>
</div>

<div>
    <span id="current_time">00:00</span>
        <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">
    <span id="show_duration">00:00</span>
</div>

<div class="volume">
    <p id="volume_show">90</p>
    <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
    <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">  
</div>

</body>
    {{!-- <script??? src="https://code.jquery.com/jquery-3.1.1.min.js"></script???> --}}
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"
    ></script>
    {{!-- <script src="./script.js" defer></script> --}}
    <script src="/musicplayer.js"></script>
    <script>
function openForm() {
document.getElementById("myForm").style.display = "block";
}

function closeForm() {
document.getElementById("myForm").style.display = "none";
}



</script>

</html>