<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sound Wave</title>

    <script src="https://kit.fontawesome.com/4237d50c76.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {{#if css}}
    <link rel="stylesheet" href="{{css}}">
    {{else}}
    <link rel="stylesheet" href="./css/index.css">
    {{/if}}
    <script src="http://checkout.stripe.com/checkout.js" defer></script>
    <script>
        var stripePK = "{{stripePublicKey}}"
        var songName = "{{#each playlistSongArr}}{{this.song_name}}/{{/each}}"
        var songUrl = "{{#each playlistSongArr}}{{this.song_url}}[split]{{/each}}"
        var artistName = "{{#each playlistSongArr}}{{this.artist_name_eng}} {{this.artist_name_chi}}/{{/each}}"
        var albumName = "{{#each playlist}}{{this.playlist_name}}[split]{{/each}}"
        var albumId = "{{#each playlist}}{{this.id}}[split]{{/each}}"
        var albumSongId = "{{#each song}}{{this.id}}[split]{{/each}}"
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body class="">

    <h5>dashboard layout</h5>

    {{!-- //navbar --}}
    <div class="text-center">
        <a href="/home"><button id="go-to-home" class="button-home" value="home">home</button></a>
        <a href="/store"><button id="go-to-store" class="button-store" value="store">store</button></a>
        <a href="/cart"><button id="go-to-cart" class="button-cart" value="cart">cart</button></a>
        <a href="/setting"><button id="go-to-setting" class="button-setting" value="setting">setting</button></a>
        <a href="/auth/logout"><button id="logout" class="button-logout" value="logout">logout</button></a>
    </div>

    <section class="row">
        <div class="col-2 side-bar">
            <div class="profile text-center">
                <div>
                    <img class="pro-pic" src="{{thumbnail}}" alt="thumbnail" height="80px" width="80px" />
                </div>
                <h4 class="text-white">{{user}}</h4>
            </div>
            <div>
                <h5>PLAYLIST</h5>
                <button class="btn open-button" onclick="openForm()"><i class="fal fa-plus-square"></i>Create
                    playlist</button>
                {{#each playlist}}
                <div>
                    <a href="/library/{{this.id}}"><button type="button" class="btn select-playlist"
                            data-library_id="{{this.id}}">{{this.playlist_name}}</button></a>
                    <button data-library_id="{{this.id}}" class="btn delete-playlist"><i
                            class="fad fa-trash"></i></button>
                    </br>
                </div>
                {{/each}}


                {{!-- pop-up form for inserting new playlist --}}
                <div class="form-popup" id="myForm">
                    <form action="/library" method="post" class="form-container">
                        <h1>add playlist</h1>
                        <label for="playlistName"><b>playlist name</b></label>
                        <input type="text" placeholder="myPlaylist" name="playlistName" required>
                        <button type="submit" class="btn">add playlist</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            {{{body}}}
        </div>

    </section>

    {{!-- //footer --}}

    <section class="music-bar text-white">
        <div class="music-player row">
            <div style="height:15px">
            </div>


            <div class="col current-song">
                <div id="current_song"></div>
                <div id="current_artist"></div>
            </div>

            <audio id="myTrack" ontimeupdate="updateTrackTime(this)" onended="audio_end()" src="" type="audio/mp3" />
            </audio>

            <div class="middle col-lg-6 text-center">
                <div class="music-buttons pt-2">
                    <button class="btn text-white" onclick="random_song()" id="random"><i class="fa fa-random"
                            aria-hidden="true"></i></button>
                    <button class="btn text-white" onclick="previous_song()" id="previous"><i
                            class="fa fa-step-backward" aria-hidden="true"></i></button>
                    <button class="btn" onclick="justplay()" id="play">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x text-white" id="circleplay"></i>
                            <i class="fa fa-play fa-stack-1x" aria-hidden="true"></i>
                        </span>
                    </button>
                    <button class="btn text-white" onclick="next_song()" id="next"><i class="fa fa-step-forward"
                            aria-hidden="true"></i></button>
                    <button class="btn text-white" onclick="repeat_song()" id="repeat"><i class="fas fa-repeat-alt"
                            id="repeating" aria-hidden="true"></i></button>

                    <div class="current-song">
                        <span id="current_time"> 00:00 </span>
                        <input type="range" min="0" max="100" value="0" id="duration_slider"
                            onchange="change_duration()" />
                        <span id="show_duration"> 00:00 </span>
                    </div>
                </div>

            </div>

            <div class="col text-center">
                <div class="volume">
                    <span>Volume: </span><span id="volume_show">80</span>
                </div>
                <div>
                    <button class="btn vol-mute text-white" onclick="mute_sound()">
                        <i class="fa fa-volume-up" id="vol-mute" aria-hidden="true" id="volume_icon"></i>
                    </button>
                    <input type="range" min="0" max="100" value="80" onchange="volume_change()" id="volume">
                </div>
            </div>

            <div style="height:15px">
            </div>

        </div>
    </section>


</body>
{{!-- <script??? src="https://code.jquery.com/jquery-3.1.1.min.js"></script???> --}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
{{#if script}}
<script src={{script}}></script>
{{/if}}
{{#if musicPlayerScript}}
<script src={{script}}></script>
{{/if}}
{{#if honeMusicPlayer}}
<script src={{honeMusicPlayer}}></script>
{{/if}}
{{!-- <script src="/carousel.js"></script> --}}

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    $(".delete-playlist").click((e) => {
        e.preventDefault();
        $.ajax({
            url: `/library/${e.target.dataset.library_id}`,
            type: "DELETE",
            success: function () {
                console.log("success del");
            },
        })
            .done(function () {
                window.location.href = "/home"
            })
            .fail(() => console.log("hahafail"))
            .always(() => console.log("running"));
    });

    $(".delete-song").click((e) => {
        e.preventDefault();
        let library_id = $(".playlist")[0].dataset.library_id
        $.ajax({
            url: `/playlist/${library_id}/${e.target.dataset.song_id}`,
            type: "DELETE",
            success: function () {
                console.log("success del");
            },
        })
            .done(function () {
                window.location.href = `/library/${library_id}`
            })
            .fail(() => console.log("hahafail"))
            .always(() => console.log("running"));
    });

    var today = new Date()
    var curHr = today.getHours()

    if (curHr < 12) {
        $('.greetings')[0].innerHTML = '<h3 class="m-3 fw-bolder">Good Morning</h3>'
    } else if (curHr < 18) {
        $('.greetings')[0].innerHTML = '<h3 class="m-3 fw-bolder">Good Afternoon</h3>'
    } else {
        $('.greetings')[0].innerHTML = '<h3 class="m-3 fw-bolder">Good Evening</h3>'
    }

</script>

</html>

