<h1>artist</h1>

{{#if album}}
{{#each artist}}
<div class="artist-info">
     <ul>
          <li>{{this.artist_photo}}</li>
          <li>{{this.artist_name}}'s Profile</li>
     </ul>
     {{/each}}
     {{#each album}}
     <div class="album">
          {{!-- btn > add to playlist select playlist maybe?--}}
          <ul>
               <li>album id: {{this.id}}</li>
               <li>{{this.album_photo}}</li>
               <li>{{this.album_name}}</li>
          </ul>
          <a href="/album/{{this.id}}"><button class="go-to-album">go to {{this.album_name}}</button></a>
     </div>
     {{/each}}
</div>
{{else}}
<div class="artist">
     {{#each artist}}
     <div class="artist-all">
          {{!-- btn > add to playlist select playlist maybe?--}}
          <ul>
               <li>{{this.id}}</li>
               <li>{{this.artist_photo}}</li>
               <li>{{this.artist_name}}</li>
          </ul>
          <a href="/artist/{{this.id}}"><button class="go-to-artist">go to {{this.artist_name}}</button></a>
     </div>
     {{/each}}
</div>
{{/if}}