<section class="container-fluid">
<h1>home</h1>
     <span class="display-6">
     Welcome to your profile, {{user}}
     </span>
     <img src="{{thumbnail}}" alt="thumbnail" height="60px" width="60px" />
     <p>math.random generating songs/news</p>

<div class="instant-search">
<input type="search" spellcheck="false" placeholder="Search songs" id="filter_songs"/>
</div>

<div class="results">
     <div class="featuring"><p>featuring stuff</p></div>
     <div class="artist"></div>
     <div class="album"></div>
     <div class="song"> </div>    
</div>

<div class="title row">
     <div class="col">
          <p>#</p>
     </div>
     <div class="col">
          <p>SONG</p>
     </div>
     <div class="col">
          <p>ARTIST</p>
     </div>
      <div class="col">
          <p>LENGTH</p>
     </div>
</div>

{{#each playlistSongArr}}
<div class="album__tracks row">
     <div class="col">
          <p>{{this.id}}</p>
     </div>
     <div class="col">
          <p>{{this.song_name}}</p>
     </div>
     <div class="col">
          <p>{{this.artist_name}}</p>
     </div>
     <div class="col" id="song_length">
     <p>need to get length</p>
     </div>
</div>
{{/each}}
</section>




{{!-- <ul>
          <li>{{this.id}}</li>
          <li>{{this.song_name}}</li>
          <li>{{this.song_url}}</li>
          <li>{{this.artist_id}}</li>
          <li>{{this.artist_name}}</li>
</ul> --}}



