<section class="mainHomepage">
     <div class="instant-search">
          <input type="search" spellcheck="false" placeholder="Search songs" id="filter_songs" />
     </div>

     <div class="greetings text-white">
     </div>

     <div class="results mb-2">
          <div class="artist"></div>
          <div class="album"></div>
          <div class="song"> </div>
     </div>

     <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
               <div class="carousel-item active">
                    <div class="row">
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter1.jpeg" alt="1 slide">
                         </div>
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter2.jpeg" alt="2 slide">
                         </div>
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter3.jpeg" alt="3 slide">
                         </div>
                    </div>
               </div>
               <div class="carousel-item">
                    <div class="row">
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter2.jpeg" alt="4 slide">
                         </div>
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter3.jpeg" alt="5 slide">
                         </div>
                         <div class="col-sm"><img class="d-block w-100" src="./image/musicposter1.jpeg" alt="6 slide">
                         </div>
                    </div>
               </div>
          </div>
     </div>


     <div class="d-flex flex-wrap">
          {{#each playlistSongArr}}
          <div class="album-card m-4">
               <img class="image" src="http://placehold.it/160x160" alt="Living Things" />
               <div class="album-info">
                    <h6 class="name text-white">{{this.song_name}}</h6>
                    <h6><a href="/artist/{{this.artist_id}}">{{this.artist_name_eng}} {{this.artist_name_chi}}</a></h6>
               </div>
               <div class="album-page"></div>
          </div>
          {{/each}}
     </div>
</section>

{{!-- <div class="title row">
     <div class="col">
          <p>#</p>
     </div>
     <div class="col">
          <p>SONG</p>
     </div>
     <div class="col">
          <p>ARTIST</p>
     </div>
     <div class="col">
          <p>DURATION</p>
     </div>
</div>

<div class="song-list">
     {{#each playlistSongArr}}
     <div class="album__tracks row">
          <div class="col">
               <p>{{this.id}}</p>
          </div>
          <div class="col">
               <p>{{this.song_name}}</p>
          </div>
          <div class="col">
               <p>{{this.artist_name}}</p>
          </div>
          <div class="col" id="song_length">
               <p>need to get length</p>
          </div>
     </div>
     {{!-- {{/each}}
     {{!--
</div> --}}





{{!-- <ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li>{{this.artist_id}}</li>
     <li>{{this.artist_name}}</li>
</ul> --}}