<h1>home</h1>

<span class="display-6">welcome to your profile, {{user}} </span>
<img src="{{thumbnail}}" alt="thumbnail" height="60px" width="60px">

<p>math.random generating songs/news</p>
{{#each songs}}
<div class="">
<ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li>{{this.artist_id}}</li>
     <li>{{this.artist_name}}</li>
</ul>
</div>
{{!-- <div>
<button class="add-to-cart" method="POST" data-item_id="{{this.id}}" data-user_id="1" data-store_id={{this.store_id}}>add to cart</button>
</div> --}}
{{/each}}
