<section>
     <h1>home</h1>

     <div class="instant-search">
          <input type="search" spellcheck="false" placeholder="Search songs" id="filter_songs" />
     </div>

     <div class="results">
          <div class="featuring">
               <p>featuring stuff</p>
          </div>
          <div class="artist"></div>
          <div class="album"></div>
          <div class="song"> </div>
     </div>

     <div class="d-flex flex-wrap">
          {{#each playlistSongArr}}
          <div class="album-card">
               <img class="image" src="http://placehold.it/150x150" alt="Living Things" />
               <div class="album-info">
                    <h6 class="name">{{this.song_name}}</h6>
                    <h6 class="meta">{{this.artist_name}}</h6>
               </div>
               <div class="album-page"></div>
          </div>
          {{/each}}
     </div>

     <div class="title row">
          <div class="col">
               <p>#</p>
          </div>
          <div class="col">
               <p>SONG</p>
          </div>
          <div class="col">
               <p>ARTIST</p>
          </div>
          <div class="col">
               <p>DURATION</p>
          </div>
     </div>

     <div class="song-list">
          {{#each playlistSongArr}}
          <div class="album__tracks row">
               <div class="col">
                    <p>{{this.id}}</p>
               </div>
               <div class="col">
                    <p>{{this.song_name}}</p>
               </div>
               <div class="col">
                    <p>{{this.artist_name}}</p>
               </div>
               <div class="col" id="song_length">
                    <p>need to get length</p>
               </div>
          </div>
          {{/each}}
     </div>
</section>




{{!-- <ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li>{{this.artist_id}}</li>
     <li>{{this.artist_name}}</li>
</ul> --}}