<h1>home</h1>

<span class="display-6">welcome to your profile, {{user}} </span>
<img src="{{thumbnail}}" alt="thumbnail" height="60px" width="60px">

<div class="instant-search">
<input type="search" spellcheck="false" placeholder="Search songs" id="filter_songs"/>
</div>
<div class="results">
     <div class="featuring"><p>featuring stuff</p></div>
     <div class="artist"></div>
     <div class="album"></div>
     <div class="song">
{{!-- {{#each playlistSongArr}}
<div class="">
<ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li>{{this.artist_id}}</li>
     <li>{{this.artist_name}}</li>
</ul>
</div>
{{/each}} --}}
     </div>
</div>
