<h1>playlist</h1>

<span class="display-6">welcome to your profile, {{user}} </span>
<img src="{{thumbnail}}" alt="thumbnail" height="60px" width="60px">

<p>math.random generating songs/news</p>
{{#each playlistSongArr}}
<div class="">
     {{!-- btn > add to playlist  select playlist maybe?--}}
<ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li>{{this.artist_id}}</li>
     <li>{{this.artist_name}}</li>
</ul>
</div>
{{/each}}
