<h1>playlist</h1>

<span class="display-6">welcome to your profile, {{user}} </span>
<img src="{{thumbnail}}" alt="thumbnail" height="60px" width="60px">

<div class="playlist" data-library_id="{{libraryId}}">
{{#each playlistSongArr}}
<div class="">
     {{!-- btn > add to playlist  select playlist maybe?--}}
<ul>
     <li>{{this.id}}</li>
     <li>{{this.song_name}}</li>
     <li>{{this.song_url}}</li>
     <li><a href="/album/{{this.album_id}}">{{this.album_name}}</a></li>
     <li><a href="/artist/{{this.artist_id}}">{{this.artist_name}}</a></li>
</ul>
<button data-song_id="{{this.id}}" class="delete-song">delete song</button>
</div>
{{/each}}
</div>
