<section class="set-height">

    {{#if displayName}}
    <h2>{{displayName}}'s setting</h2>
    {{else}}
    <h2>{{user}}'s setting</h2>
    {{/if}}
    <div class="setting-display-name">
        <lable for="display-name">display name:</lable>
        <p id="display-name" style="display: block;" name="display-name">{{displayName}}</p>
        <input style="display: none;" id="edit-display-name" class="text-area" placeholder="{{displayName}}"></input>
            <button class="button-default" id="button-default">set to default</button>
        <button class="button-edit" id="button-edit">edit</button>
        <div class="confirm"></div>
        <div id="check-availability"></div>
    </div>   
<div>
    <button class="button-show-history" id="button-show-history">show purchase hostory</button>
</div>
<div class="purchase"></div>
<div class="purchase-history"></div>
</section>

    </div>
    </div>
</section>