<section class="set-height">


    {{#if displayName}}
    <h1 class="pt-4 px-4">{{displayName}}'s settings</h1>
    {{else}}
    <h1 class="pt-4 px-4">{{user}}'s settings</h1>
    {{/if}}


    <div class="setting-page px-4 pt-2">
        <div class="setting-display-name">
            <h3 for="display-name">Your configurations</h3>
            <h2 class="py-3" id="display-name" style="display: block; color:rgb(236, 236, 236);" name="display-name">
                {{displayName}}</h2>

            <div>
                <i class="fal fa-users mx-2"></i><button class="my-2 btn button-edit" id="button-edit">Edit display
                    name</button>
            </div>
            <input style="display: none;" id="edit-display-name" class="text-area"
                placeholder="{{displayName}}"></input>
            <div class="confirm"></div>
            <div id="check-availability"></div>

            <div>
                <i class="fal fa-arrow-alt-circle-left mx-2"></i><button class="my-2 btn button-default"
                    id="button-default">Profile to default settings</button>
            </div>
        </div>
        <div>
            <i class="fad fa-history mx-2"></i><button class="btn my-2 button-show-history"
                id="button-show-history">Show purchase history</button>
        </div>
        <div class="purchase"></div>
        <div class="purchase-history"></div>
    </div>
</section>

</div>
</div>
</section>