<section class="navsearch mainstore pt-3 pb-2">
     <div class="d-inline mx-4">

          <input type="search" spellcheck="false" placeholder="Search store" id="filter_store" />

          <span class="sort mx-2">
               <label for="sort">Sort By: </label>
               <select name="sort" id="sort">
                    <option value="---">---</option>
                    <option value="$down">Price High to Low</option>
                    <option value="$up">Price Low to High</option>
               </select>
               <button class="btn button-clear-search clear-search" value="">CLEAR</button>
               {{#each category}}
               <button class="btn button-store search-category" id="category-{{this}}"
                    value="{{this}}">{{this}}</button>
               {{/each}}
          </span>
     </div>
</section>


<section class="mainHomepage">

     <div class="greetings text-white">
     </div>

     <div class="results mb-2">
          <div class="store">
          </div>
          <div class="item"></div>

     </div>
     <section class="noneWhenSearch container-fluid px-4">
          <div class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                    <div class="carousel-item active">
                         <div class="row">
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter1.jpeg"
                                        alt="1 slide">
                              </div>
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter2.jpeg"
                                        alt="2 slide">
                              </div>
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter3.jpeg"
                                        alt="3 slide">
                              </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="row">
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter2.jpeg"
                                        alt="4 slide">
                              </div>
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter3.jpeg"
                                        alt="5 slide">
                              </div>
                              <div class="col-sm"><img class="d-block w-100 img-fluid" src="./image/musicposter1.jpeg"
                                        alt="6 slide">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <div class="noneWhenSearch homeItem">
          <div class="random-item px-4 row">
               {{#each item}}
               <div class="col-lg-2 col-md-3 col-sm-4 my-3">
                    <div class="album-img">
                         <img class="item-img img-fluid" src="{{this.item_photo}}" alt="Living Things" />
                    </div>
                    <div class="item-info">
                         <h6 class="name mt-2">{{this.item_name}}</h6>
                         <h6 class="name mt-2">${{divide this.item_price 100}}</h6>
                         <button class="btn add-to-cart" data-item_id="{{this.id}}" data-user_id="1"><i data-user_id="1"
                                   data-item_id="{{this.id}}" class="fal fa-shopping-cart"></i> Add to
                              cart</button>
                    </div>
               </div>
               {{/each}}
          </div>
     </div>

</section>



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>